apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-{{ .Env }}
  namespace: {{ .Values.namespace }}
spec:
  project: default
  source:
    repoURL: {{ .Values.repoURL }}
    targetRevision: {{ .Values.targetRevision }}
    path: {{ .Env }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.namespace }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
