apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-env-config
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/part-of: support-services
data:
  profile: "{{ .Env }}"
  service-url: "http://keycloak.{{ .Values.namespace }}.svc.cluster.local:8080"

