{{- $ns := .Values.namespace -}}
{{- range $i, $pool := .Values.addressPools }}
{{- if $i }}
---
{{ end -}}
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ $pool.name }}
  namespace: {{ $ns }}
spec:
  addresses:
{{- range $pool.cidrs }}
    - {{ . }}
{{- end }}
{{- end }}
